.container{
    width:100%;
    padding:1rem;
    background-color: white;
   
}
.inner-container{
    border:1px solid lightgray;
    padding: .5rem;
}
.title{
    font-size: 1rem;
    color: #84B1CF;
}
.main-title{
    font-size: 1.2rem;
    font-weight:bold;
    text-align: center;
}
.case-clouser-msg{
    font-size: 14px;
    color: rgb(255, 0, 0);
    font-weight:bold;
}